{% extends "includes/headerFooter.html" %}
{% load staticfiles%}
{% load humanize %}

{% block content %}
    <title>Database Operations</title>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_code.jquery.com_jquery-3.3.1.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdn.datatables.net_1.10.19_js_jquery.dataTables.js' %}"></script>

    <style>
        div.dataTables_wrapper {
            margin: 0 auto;
        }
    </style>


    <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}"/>
    <script type="text/javascript" src="{% static 'js/http_cdn.datatables.net_v_dt_dt-1.10.18_b-1.5.4_datatables.js' %}"></script>
    <script src="{% static 'js/city.js' %}"></script>

    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdn.datatables.net_buttons_1.5.2_js_dataTables.buttons.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdn.datatables.net_buttons_1.5.2_js_buttons.flash.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdnjs.cloudflare.com_ajax_libs_jszip_3.1.3_jszip.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdnjs.cloudflare.com_ajax_libs_pdfmake_0.1.36_pdfmake.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdnjs.cloudflare.com_ajax_libs_pdfmake_0.1.36_vfs_fonts.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdn.datatables.net_buttons_1.5.2_js_buttons.html5.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdn.datatables.net_buttons_1.5.2_js_buttons.print.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdn.datatables.net_buttons_1.5.2_js_buttons.colVis.js' %}"></script>


    <section id="main-content">
      <section class="wrapper site-min-height">
        <div class="row">
          <!-- /col-lg-12 -->
          <div class="col-lg-12">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Database Operations</li>
              </ol>
          </nav>
            <div class="row content-panel">
              <!-- /panel-heading -->
              <div class="panel-body">
                <div class="tab-content">
                {% if messages %}
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        {% for message in messages %}
                            <strong>{{ message }}</strong>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if extra != none %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <strong>{{ extra }}</strong>
                </div>
                {% endif %}
                  <div id="overview" class="tab-pane active">
                  <a class="btn btn-primary" href="{% url 'database_operations' %}" role="button">Refresh</a>
                  <h2 class="centered">Database Operations</h2>
                  <hr>
                  <div class="row">
                      <div class="col-md-12">
                          <a class="btn btn-primary" href="{% url 'new_database_operation' %}" role="button">Create New Database Operations</a>
                          <button type="submit" class="btn btn-default" data-toggle="modal" data-target="#importDataModal">Import data</button>
                      </div>
                  </div>
                  <br>
                  <div class="row">
                      <div class="col-md-12">
                          <a class="btn btn-facebook" href="" role="button" data-toggle="modal" data-target="#generateBillingDataModal">Generate Statement Billing</a>
                          <a class="btn btn-facebook" href="" role="button" data-toggle="modal" data-target="#generateStatementOfAccountModal">Generate Statement of Account</a>
                          <a class="btn btn-facebook" href="" role="button" data-toggle="modal" data-target="#generateSummaryOfPayroll">Generate Summary of Payroll</a>
                      </div>
                  </div>
                  <hr>
                  <div class="form-inline">
                    <div class="form-group">
                      <label for="id_year">Year: </label>
                      <select name="year" class="form-control" id="id_year">
                          {% for year in years %}
                              <option value="{{ year }}">{{ year }}</option>
                          {% endfor %}
                      </select>
                    </div>
                     <div class="form-group">
                      <label for="id_month">Month: </label>
                      <select name="month" class="form-control" id="id_month">
                          {% for date in dates %}
                              <option value="{{ date.month }}">{{ date|date:"F" }}</option>
                          {% endfor %}
                      </select>
                    </div>
                     <div class="form-group">
                      <label for="id_day">Day: </label>
                      <select name="day" class="form-control" id="id_day">
                          <option value="0"></option>
                          <option value="1">01</option>
                          <option value="2">02</option>
                          <option value="3">03</option>
                          <option value="4">04</option>
                          <option value="5">05</option>
                          <option value="6">06</option>
                          <option value="7">07</option>
                          <option value="8">08</option>
                          <option value="9">09</option>
                          <option value="10">10</option>
                          <option value="11">11</option>
                          <option value="12">12</option>
                          <option value="13">13</option>
                          <option value="14">14</option>
                          <option value="15">15</option>
                          <option value="16">16</option>
                          <option value="17">17</option>
                          <option value="18">18</option>
                          <option value="19">19</option>
                          <option value="20">20</option>
                          <option value="21">21</option>
                          <option value="22">22</option>
                          <option value="23">23</option>
                          <option value="24">24</option>
                          <option value="25">25</option>
                          <option value="26">26</option>
                          <option value="27">27</option>
                          <option value="28">28</option>
                          <option value="29">29</option>
                          <option value="30">30</option>
                          <option value="31">31</option>
                      </select>
                    </div>

                  </div>
                  <hr>
                      <table id="listTable" class="display nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>ID</th>
                                    <th>DATE</th>
                                    <th>CALL TIME</th>
                                    <th>PLATE NO.</th>
                                    <th>WB NO.</th>
                                    <th>ORIGIN</th>
                                    <th>DESTINATION</th>
                                    <th>DRIVER</th>
                                    <th>HELPER</th>
                                    <th>CLIENT</th>
                                    <th>CUSTOMER</th>
                                    <th>TRUCK TYPE</th>
                                    <th>QTY</th>
                                    <th>REMARKS</th>
                                    <th>DIESEL</th>
                                    <th>TRUCK BUDGET</th>
                                    <th>C/A HELPER</th>
                                    <th>TOLL FEE</th>
                                    <th>PARKING</th>
                                    <th>ENTRY FEE</th>
                                    <th>OTHERS</th>
                                    <th>TOTAL LIQ</th>
                                    <th>UNLIQ.</th>
                                    <th>DRIVER-SAL</th>
                                    <th>ADDITIONAL DRIVER SALARY</th>
                                    <th>HELPER-SAL</th>
                                    <th>ADDITIONAL HELPER SALARY</th>
                                    <th>BILLING</th>
                                    <th>ADD'L</th>
                                    <th>REVENUE</th>
                                    <th>BILLED DATE</th>
                                    <th>RECEIVED BY</th>
                                    <th>RECEIVED TIME</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in list %}
                             <tr>
                                <td>
                                    <div class="btn-group-justified btn-group-sm" role="group" aria-label="...">
                                        <a class="btn btn-success" href="{% url 'edit_database_operation' item.id "A" %}" role="button"><i class="fa fa-pencil"></i></a>
                                        <a class="btn btn-danger" href="{% url 'delete_database_operation' item.id %}" role="button"><i class="fa fa-trash"></i></a>
                                    </div>
                                </td>
                                <td>{{ item.id }}</td>
                                <td>{{ item.date|date:'m/d/Y'|default_if_none:"" }}</td>
                                <td>{{ item.calltime|time:'H:i'|default_if_none:"" }}</td>
                                <td>{{ item.plateno|default_if_none:"" }}</td>
                                <td>{{ item.wbno|default_if_none:"" }}</td>
                                <td>{{ item.origin|default_if_none:"" }}</td>
                                <td>{{ item.destination|default_if_none:"" }}</td>
                                <td>{{ item.driver.drivername|default_if_none:"" }}</td>
                                <td>{{ item.helper.helpername|default_if_none:"" }}</td>
                                <td>{{ item.client.clientname|default_if_none:"" }}</td>
                                <td>{{ item.customer.customername|default_if_none:"" }}</td>
                                <td>{{ item.trucktype|default_if_none:"" }}</td>
                                <td>{{ item.qty|default_if_none:"" }}</td>
                                <td>{{ item.remarks|default_if_none:"" }}</td>
                                <td>{{ item.diesel|default_if_none:""|floatformat:2|intcomma }}</td>
                                <td>{{ item.truckbudget|default_if_none:""|floatformat:2|intcomma }}</td>
                                <td>{{ item.cahelper|default_if_none:""|floatformat:2|intcomma }}</td>
                                <td>{{ item.tollfee|default_if_none:""|floatformat:2|intcomma }}</td>
                                <td>{{ item.parking|default_if_none:""|floatformat:2|intcomma }}</td>
                                <td>{{ item.entryfee|default_if_none:""|floatformat:2|intcomma }}</td>
                                <td>{{ item.others|default_if_none:""|floatformat:2|intcomma }}</td>
                                <td>{{ item.totalliq|default_if_none:""|floatformat:2|intcomma }}</td>
                                <td>{{ item.unliq|default_if_none:""|floatformat:2|intcomma }}</td>
                                <td>{{ item.driversal|default_if_none:""|floatformat:2|intcomma }}</td>
                                <td>{{ item.addldriversal|default_if_none:""|floatformat:2|intcomma }}</td>
                                <td>{{ item.helpersal|default_if_none:""|floatformat:2|intcomma }}</td>
                                <td>{{ item.addlhelpersal|default_if_none:""|floatformat:2|intcomma }}</td>
                                <td>{{ item.billing|default_if_none:""|floatformat:2|intcomma }}</td>
                                <td>{{ item.addl|default_if_none:""|floatformat:2|intcomma }}</td>
                                <td>{{ item.revenue|default_if_none:""|floatformat:2|intcomma }}</td>
                                <td>{{ item.billeddate|date:'m/d/Y'|default_if_none:"" }}</td>
                                <td>{{ item.receivedby|default_if_none:"" }}</td>
                                <td>{{ item.receivedtime|time:'H:i'|default_if_none:"" }}</td>
                             </tr>
                            {% endfor %}
                            </tbody>
                      </table>
                  </div>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel">Modal title</h5>
                              </div>
                              <div id="modalBody" class="modal-body">
                                ...
                              </div>
                              <div class="modal-footer">
                                <a class="btn btn-round btn-success" id="modalEditButton" role="button">Edit</a>
                                <a class="btn btn-round btn-danger" id="modalDeleteButton" role="button">Delete</a>
    {#                            <a class="btn btn-round btn-info" id="modalGenerateBillingButton" role="button" onclick="printDiv('printableArea')">Generate Statement Billing</a>#}
                                <button type="button" class="btn btn-round" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="modal fade" id="generateBillingDataModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="modalLabelBenerateBilling">Generate Billing</h5>
                          </div>
                          <div id="modalBodyGenerateBilling" class="modal-body">
                              <label for="id_billedTo">Billed to:</label>
                              <select name="billedTo" class="form-control" id="id_billedTo">
                                <option value="" selected="">----------</option>
                                  {% for client in clients %}
                                      <option value="{{ client.clientname }}">{{ client.clientname }}</option>
                                  {% endfor %}
                              </select>
                              <label for="id_TIN">TIN: </label><input type="text" name="TIN" class="form-control" id="id_TIN">
                              <label for="id_busStyle">Bus. Style: </label><input type="text" name="TIN" class="form-control" id="id_busStyle">
                              <label for="id_address">Address: </label><input type="text" name="address" class="form-control" id="id_address">
                              <label for="id_haulingCharges">Hauling Charges: </label><input type="number" name="haulingCharges" class="form-control" id="id_haulingCharges">
                              <label for="id_haulingChargesDate">Hauling Charges Dates: </label><input type="text" name="haulingChargesDate" class="form-control" id="id_haulingChargesDate">
                          </div>
                          <div class="modal-footer">
                            <a class="btn btn-round btn-info" id="modalGenerateBillingButton" role="button" onclick="printDiv('printableArea')">Print</a>
                            <button type="button" class="btn btn-round" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="modal fade" id="importDataModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="modalLabelImport">Import data (XLSX files only)</h5>
                          </div>
                          <div id="modalBodyImport" class="modal-body">
                              Use this format: <a  href="{% static 'download/sample_xlsx.xlsx' %}" download> Download sample file </a>
                              <hr>

                              <form method="post" enctype="multipart/form-data" action="{% url 'database_operations' %}">
                                    {% csrf_token %}
                                    <input type="file" name="file">
                          </div>
                          <div class="modal-footer">
                                    <button type="submit" class="btn btn-round btn-primary">Upload</button>
                              </form>
                            <button type="button" class="btn btn-round" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="modal fade" id="generateStatementOfAccountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel">Generate Statement of Account</h5>
                          </div>
                          <div id="modalBody" class="modal-body">
                              <form method="post" enctype="multipart/form-data" action="{% url 'dbo_statement_of_account' %}">
                              {% csrf_token %}
                              <div class="login-wrap">
                          <div class="row">
                            <div class="col-md-6">
                                <label for="billingFromDate">Billing From Date</label>
                                 <div class="form-group">
                                  <div class="col-md-12">
                                      <input type="date" id="billingFromDate" name="billingFromDate" size="16" class="form-control" required>
                                  </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Billing To Date</label>
                                 <div class="form-group">
                                  <div class="col-md-12">
                                      <input type="date" id="billingToDate" name="billingToDate" size="16" class="form-control" required disabled>
                                  </div>
                                </div>
                            </div>
                          </div>
                          <br>
                          <label for="client">Client</label>
                          <select name="client" class="form-control" id="client" required disabled>
                                <option value=''>----------</option>
                                  {% for client in clients %}
                                      <option value="{{ client.clientname }}">{{ client.clientname }}</option>
                                  {% endfor %}
                          </select>
                              <hr>
                          <label for="customer">Customer</label>
                          <select name="customer" class="form-control" id="customer" disabled>
                                <option value=''>----------</option>
                                  {% for customer in customers %}
                                      <option value="{{ customer.customerid }}">{{ customer.customername }}</option>
                                  {% endfor %}
                          </select>
                              <br>
                          <div class="row">
                            <div class="col-md-4">
                                <label>Plate Number</label>
                                 <div class="form-group">
                                      <input type="text" id="plateNumber" name="plateNumber" size="16" class="form-control" disabled list="plateNumbers">
                                     <datalist id="plateNumbers">
                                     </datalist>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label>Way Bill Number</label>
                                 <div class="form-group">
                                      <input type="text" id="wayBillNumber" name="wayBillNumber" size="16" class="form-control" disabled list="wayBillNumbers">
                                     <datalist id="wayBillNumbers">
                                     </datalist>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label>Truck Type</label>
                                 <div class="form-group">
                                      <select name="truckType" class="form-control" id="truckType" disabled>
                                            <option value="">----------</option>
                                      </select>
                                </div>
                            </div>
                          </div>
                              <hr>
                              <center><button type="submit" class="btn btn-primary btn-block">Generate</button></center>
                          </div>

                              </form>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-round" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  <!-- /tab-pane -->
                </div>

                    <div class="modal fade" id="generateSummaryOfPayroll" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel">Generate Summary of Payroll</h5>
                          </div>
                          <div id="modalBody" class="modal-body">
                              <form method="post" enctype="multipart/form-data" action="{% url 'dbo_summary_of_payroll' %}">
                              {% csrf_token %}
                                  <div class="login-wrap">
                                      <div class="row">
                                        <div class="col-md-6">
                                            <label for="billingFromDate">From Date</label>
                                             <div class="form-group">
                                              <div class="col-md-12">
                                                  <input type="date" id="payrollFromDate" name="payrollFromDate" size="16" class="form-control" required>
                                              </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>To Date</label>
                                             <div class="form-group">
                                              <div class="col-md-12">
                                                  <input type="date" id="payrollToDate" name="payrollToDate" size="16" class="form-control" required>
                                              </div>
                                            </div>
                                        </div>
                                      </div>
                                      <br>
                                      <hr>
                                      <center><button type="submit" class="btn btn-primary btn-block">Generate</button></center>
                                  </div>
                              </form>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-round" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  <!-- /tab-pane -->
                </div>
                <!-- /tab-content -->
              </div>
              <!-- /panel-body -->
            </div>
            <!-- /col-lg-12 -->
          </div>
          <!-- /row -->
        </div>

          <!-- col-lg-12-->
        </div>
          </div>
          <!-- /col-lg-12 -->
          <!-- CUSTOM TOGGLES -->
        </div>
        <!-- /row -->
      </section>
      <!-- /wrapper -->
    </section>

    <script>
        let today = new Date();
        let time = '';
        let dd = today.getDate();
        let mm = today.getMonth() + 1; //January is 0!
        let yyyy = today.getFullYear();
        let hour    = today.getHours();
        let minute  = today.getMinutes();
        let second  = today.getSeconds();

        if (dd < 10) {
          dd = '0' + dd;
        }

        if (mm < 10) {
          mm = '0' + mm;
        }

        if(hour.toString().length == 1) {
         hour = '0'+hour;
        }
        if(minute.toString().length == 1) {
             minute = '0'+minute;
        }
        if(second.toString().length == 1) {
             second = '0'+second;
        }

        today = mm + '/' + dd + '/' + yyyy;
        time = hour+':'+minute+':'+second;
        $(document).ready(function() {
            $('#listTable').DataTable({
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                responsive: true,
                retrieve: true,
                paging: true,
                dom: 'Blfrtip',
                "scrollX": true,
                buttons: [
                    {
                        extend: 'copyHtml5',
                        title: 'Database Operations (exported: ' + today + ' ' + time + ')',
                        exportOptions: {
                            columns: ':visible',
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        title: 'Database Operations (exported: ' + today + ' ' + time + ')',
                        exportOptions: {
                            columns: ':visible',
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        title: 'Database Operations (exported: ' + today + ' ' + time + ')',
                        exportOptions: {
                            columns: ':visible',
                        }
                    },
                    'colvis'
                ]
            });
        });

        var table;

        if ( $.fn.dataTable.isDataTable( '#listTable' ) ) {
            table = $('#listTable').DataTable();
        }
        else {
            table = $('#listTable').DataTable({
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                responsive: true,
                retrieve: true,
                paging: true,
                dom: 'Blfrtip',
                "scrollX": true,
                buttons: [
                    {
                        extend: 'copyHtml5',
                        title: 'Database Operations (exported: ' + today + ' ' + time + ')',
                        exportOptions: {
                            columns: ':visible',
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        title: 'Database Operations (exported: ' + today + ' ' + time + ')',
                        exportOptions: {
                            columns: ':visible',
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        title: 'Database Operations (exported: ' + today + ' ' + time + ')',
                        exportOptions: {
                            columns: ':visible',
                        }
                    },
                    'colvis'
                ]
            });
        }

        $('#listTable tbody').on( 'click', 'tr', function () {
            // alert( table.row( this ).data() );
            var modalBody = "<table class=\"table table-condensed table-bordered\">";
            for(var i = 2; i <= 33 ; i++){
                modalBody += "<tr>";
                modalBody += "<td><b>"+ table.columns(i).header()[0].textContent +"</b></td>";
                modalBody += "<td>" + table.row(this).data()[i] + "</td>";
                modalBody += "</tr>";
            }
            modalBody += "</table>";
            $('#modalBody').html(modalBody);
            $('#modalLabel').html("DATABASE OPERATION  " + table.row(this).data()[1]);
            $('#modalEditButton').attr('href', '/database_operations/editDBO/' + table.row(this).data()[1]+"/A");
            $('#modalDeleteButton').attr('href', '/database_operations/deleteDBO/' + table.row(this).data()[1]);
            $('#exampleModal').modal();
        } );

        // Convert numbers to words
        // copyright 25th July 2006, by Stephen Chapman http://javascript.about.com
        // permission to use this Javascript on your web page is granted
        // provided that all of the code (including this copyright notice) is
        // used exactly as shown (you can change the numbering system if you wish)


        // American Numbering System
        var th = ['','THOUSAND','MILLION', 'BILLION','TRILLION'];
        // uncomment this line for English Number System
        // var th = ['','thousand','million', 'milliard','billion'];

        var dg = ['ZERO','ONE','TWO','THREE','FOUR', 'FIVE','SIX','SEVEN','EIGHT','NINE'];
        var tn = ['TEN','ELEVEN','TWELVE','THIRTEEN', 'FOURTEEN','FIFTEEN','SIXTEEN', 'SEVENTEEN','EIGHTEEN','NINETEEN'];
        var tw = ['TWENTY','THIRTY','FORTY','FIFTY', 'SIXTY','SEVENTY','EIGHTY','NINETY'];
        function toWords(s){
            s = s.toString(); s = s.replace(/[, ]/g,'');
            if (s != parseFloat(s)) return 'not a number';
            var x = s.indexOf('.');
            if (x == -1)
                x = s.length;
            if (x > 15)
                return 'too big';
            var n = s.split('');
            var str = '';
            var sk = 0;
            for (var i=0; i < x; i++) {
                if ((x-i)%3==2) {
                    if (n[i] == '1') {
                        str += tn[Number(n[i+1])] + ' ';
                        i++; sk=1;
                    }
                    else if (n[i]!=0) {
                        str += tw[n[i]-2] + ' ';
                        sk=1;
                    }
                }
                else if (n[i]!=0) {
                    str += dg[n[i]] +' ';
                    if ((x-i)%3==0)
                        str += 'HUNDRED ';
                    sk=1;
                }
                if ((x-i)%3==1) {
                    if (sk)
                        str += th[(x-i-1)/3] + ' ';
                    sk=0;
                }
            }
            if (x != s.length) {
                var y = s.length;
                str += 'AND ';
                for (var i=x+1; i<y; i++)
                    str += dg[n[i]] +' ';
            }
            return str.replace(/\s+/g,' ');
        }

        function numberWithCommas(x) {
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            return parts.join(".");
        }

        function addZeroes(num) {
            // Convert input string to a number and store as a variable.
            var value = Number(num);
            // Split the input string into two arrays containing integers/decimals
            var res = num.split(".");
            // If there is no decimal point or only one decimal place found.
            if(res.length == 1 || res[1].length < 3) {
            // Set the number to two decimal places
                value = value.toFixed(2);
            }
            // Return updated or original number.
            return value;
        }


        function printDiv(divName) {
            var billedTo = $('#id_billedTo').val();
            var tin = $('#id_TIN').val();
            var busStyle = $('#id_busStyle').val();
            var address = $('#id_address').val();
            var haulingCharges = $('#id_haulingCharges').val();
            var haulingChargesDate = $('#id_haulingChargesDate').val();
            var vat = haulingCharges * 0.12;
            vat = Math.round(vat * 100) / 100;
            var total = vat + parseFloat(haulingCharges);

            console.log(billedTo);
            console.log(tin);
            console.log(busStyle);
            console.log(address);
            console.log(toWords(total));
            console.log(numberWithCommas(addZeroes(haulingCharges)));
            console.log(haulingChargesDate);
            console.log(numberWithCommas(addZeroes(vat.toString())));

            if(Number.isNaN(total))
                total = 0.00;


            $('#clientName').html(billedTo);
            $('#tin').html(tin);
            $('#busStyle').html(busStyle);
            $('#address').html(address);

            $('#haulingChargesAmount').html(numberWithCommas(addZeroes(haulingCharges)));

            $('#vatableAmountSales').html(numberWithCommas(addZeroes(haulingCharges)));
            $('#totalAmountSales').html(numberWithCommas(addZeroes(haulingCharges)));
            $('#amountInWords').html(toWords(addZeroes(total.toString())) + " ONLY ...");
            $('#haulingChargesDate').html(haulingChargesDate);
            $('#vat').html(numberWithCommas(addZeroes(vat.toString())));
            $('#total').html(numberWithCommas(addZeroes(total.toString())));
            $('#last').html(numberWithCommas(addZeroes(total.toString())));

            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
            location.reload();
        }

        $(document).ready(function(){
           $("#id_year").val({{ year }});
           $("#id_month").val({{ month }});
           $("#id_day").val({{ day }});
        });
        

        $( "#id_year" ).change(function() {
            window.location.href = "/database_operations/year="  + $(this).val() + "/month=" + $("#id_month").val() + "/day=" + $("#id_day").val();
        });

        $( "#id_month" ).change(function() {
            window.location.href = "/database_operations/year="  + $("#id_year").val() + "/month=" + $(this).val() + "/day=" + $("#id_day").val();
        });

        $( "#id_day" ).change(function() {
            window.location.href = "/database_operations/year="  + $("#id_year").val() + "/month=" + $("#id_month").val() + "/day=" + $(this).val();
        });

        $( "#billingFromDate" ).change(function() {
            var startDate = $(this).val();
            var endDate = $("#billingToDate").val();

            getClients(startDate, endDate);

            $( "#billingToDate" ).removeAttr("disabled");
            $("#customer").val(0);
            $("#truckType").val(0);
            $("#plateNumber").val('');
            $("#wayBillNumber").val('');
        });

        $( "#billingToDate" ).change(function() {
            var startDate = $("#billingFromDate").val();
            var endDate = $(this).val();

            getClients(startDate, endDate);

            $( "#client" ).removeAttr("disabled");
            $("#customer").val(0);
            $("#truckType").val(0);
            $("#plateNumber").val('');
            $("#wayBillNumber").val('');
        });

        $( "#client" ).change(function() {
            var startDate = $("#billingFromDate").val();
            var endDate = $("#billingToDate").val();
            var client = $(this).val();

            getCustomers(startDate, endDate, client);
            getPlateNumbers(startDate, endDate, client);
            getWayBillNumbers(startDate, endDate, client);
            getTruckTypes(startDate, endDate, client);


            $( "#customer" ).removeAttr("disabled");
            $( "#plateNumber" ).removeAttr("disabled");
            $( "#wayBillNumber" ).removeAttr("disabled");
            $( "#truckType" ).removeAttr("disabled");
        });

        function getClients(startDate, endDate){
            if(startDate == ''){
                startDate = endDate
            }
            if(endDate == ''){
                endDate = startDate
            }

            $.ajax({
              url: '{% url "get_client" %}',
              data: {
                "startDate":startDate,
                "endDate": endDate,
              },
              dataType: 'json',
              success: function(data){
                  var html = "<option value=''>----------</option>";
                  for(var i = 0; i < data.length; i++){
                      html += "<option value='" + data[i].id + "'>" + data[i].name + "</option>";
                  }
                  $("#client").html(html);
              },
              error: function () {
                alert("error");
              },
            });
        }

        function getCustomers(startDate, endDate, client){
            $.ajax({
              url: '{% url "get_customer" %}',
              data: {
                "startDate":startDate,
                "endDate": endDate,
                "client": client
              },
              dataType: 'json',
              success: function(data){
                  var html = "<option value=''>----------</option>";
                  for(var i = 0; i < data.length; i++){
                      html += "<option value='" + data[i].id + "'>" + data[i].name + "</option>";
                  }
                  $("#customer").html(html);
              },
              error: function () {
                alert("No client selected");
              },
            });
        }

        function getPlateNumbers(startDate, endDate, client){
            $.ajax({
              url: '{% url "get_plate_number" %}',
              data: {
                "startDate":startDate,
                "endDate": endDate,
                "client": client
              },
              dataType: 'json',
              success: function(data){
                  var html = "";
                  for(var i = 0; i < data.length; i++){
                      html += "<option value='"+data[i]+"'>";
                  }
                  $("#plateNumbers").html(html);
              },
              error: function () {

              },
            });
        }

        function getWayBillNumbers(startDate, endDate, client){
            $.ajax({
              url: '{% url "get_way_bill_number" %}',
              data: {
                "startDate":startDate,
                "endDate": endDate,
                "client": client
              },
              dataType: 'json',
              success: function(data){
                  var html = "";
                  for(var i = 0; i < data.length; i++){
                      html += "<option value='"+data[i]+"'>";
                  }
                  $("#wayBillNumbers").html(html);
              },
              error: function () {

              },
            });
        }

        function getTruckTypes(startDate, endDate, client){
            $.ajax({
              url: '{% url "get_truck_type" %}',
              data: {
                "startDate":startDate,
                "endDate": endDate,
                "client": client
              },
              dataType: 'json',
              success: function(data){
                  var html = "<option value=''>----------</option>";
                  for(var i = 0; i < data.length; i++){
                      html += "<option value='" + data[i] + "'>" + data[i] + "</option>";
                  }
                  $("#truckType").html(html);
              },
              error: function () {

              },
            });
        }

    </script>
{% endblock %}