{% extends "includes/headerFooter.html" %}
{% load staticfiles %}
{% load humanize %}

{% block content %}
    <title>Database Operations</title>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_code.jquery.com_jquery-3.3.1.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdn.datatables.net_1.10.19_js_jquery.dataTables.js' %}"></script>

    <style>
        div.dataTables_wrapper {
            margin: 0 auto;
        }
    </style>


    <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}"/>
    <script type="text/javascript" src="{% static 'js/http_cdn.datatables.net_v_dt_dt-1.10.18_b-1.5.4_datatables.js' %}"></script>
    <script src="{% static 'js/city.js' %}"></script>

    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdn.datatables.net_buttons_1.5.2_js_dataTables.buttons.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdn.datatables.net_buttons_1.5.2_js_buttons.flash.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdnjs.cloudflare.com_ajax_libs_jszip_3.1.3_jszip.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdnjs.cloudflare.com_ajax_libs_pdfmake_0.1.36_pdfmake.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdnjs.cloudflare.com_ajax_libs_pdfmake_0.1.36_vfs_fonts.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdn.datatables.net_buttons_1.5.2_js_buttons.html5.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdn.datatables.net_buttons_1.5.2_js_buttons.print.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdn.datatables.net_buttons_1.5.2_js_buttons.colVis.js' %}"></script>


    <section id="main-content">
      <section class="wrapper site-min-height">
        <div class="row">
          <!-- /col-lg-12 -->
          <div class="col-lg-12">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'database_operations' %}">Database Operations</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Generate Statement of Account</li>
              </ol>
          </nav>
            <div class="row content-panel">
              <!-- /panel-heading -->
              <div class="panel-body">
                <div class="tab-content">
                {% if messages %}
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        {% for message in messages %}
                            <strong>{{ message }}</strong>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if extra != none %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <strong>{{ extra }}</strong>
                </div>
                {% endif %}
                  <div id="overview" class="tab-pane active">
                      <a class="btn btn-primary" href="{% url 'database_operations' %}" role="button">Back</a>
                      <h2 class="centered">Generate Statement of Account</h2>
                      <hr>
                      <a class="btn btn-primary" href="" role="button" data-toggle="modal" data-target="#generateStatementOfAccountModal">Generate Statement of Account</a>
                      <a class="btn btn-default" role="button" onclick="printDiv('printDiv')">Print</a>
                      <hr>
                      <div id="printDiv">
                          <h5><b>ULTIMATE EXPRESS TRANS LOGISTICS, CORP.</b></h5>
                          <h5><b>STATEMENT OF ACCOUNT</b></h5>
                          <div style="padding-left: 50px">
                              <table>
                              <tr>
                                  <td style="text-align: right">Bill to:</td>
                                  <td style="text-align: left; padding-left: 10px"><u><b><i>{{ client.clientname }}</i></b></u></td>
                              </tr>
                              <tr>
                                  <td style="text-align: right">Billing Period:</td>
                                  <td style="text-align: center; padding-left: 10px"><b><u><span style="padding-right: 10px">{{ billedFromDate|date:"F j, Y" }}</span></u></b> TO <b><u><span style="padding-left: 10px">{{ billingToDate|date:"F j, Y" }}</span></u></b></td>
                              </tr>
                              <tr>
                                  <td style="text-align: right">Invoice #:</td>
                                  <td style="text-align: center"></td>
                              </tr>
                              {% if customer is not None %}
                                  <tr>
                                      <td style="text-align: right">Customer:</td>
                                      <td style="text-align: left; padding-left: 10px"><u><b><i>{{ customer.customername }}</i></b></u></td>
                                  </tr>
                              {% endif %}
                              {% if plateNumber is not None %}
                                  <tr>
                                      <td style="text-align: right">Plate Number:</td>
                                      <td style="text-align: left; padding-left: 10px"><u><b><i>{{ plateNumber }}</i></b></u></td>
                                  </tr>
                              {% endif %}
                              {% if wayBillNumber is not None %}
                                  <tr>
                                      <td style="text-align: right">Way Bill Number:</td>
                                      <td style="text-align: left; padding-left: 10px"><u><b><i>{{ wayBillNumber }}</i></b></u></td>
                                  </tr>
                              {% endif %}
                              {% if truckType is not None %}
                                  <tr>
                                      <td style="text-align: right">Truck Type:</td>
                                      <td style="text-align: left; padding-left: 10px"><u><b><i>{{ truckType }}</i></b></u></td>
                                  </tr>
                              {% endif %}
                            </table>
                          </div>
                          <table class="table table-condensed table-bordered">
                            <thead>
                              <tr>
                                <th style="text-align: center">DATE</th>
                                <th style="text-align: center">PLATE NO.</th>
                                <th style="text-align: center">WAYBILL NO.</th>
                                <th style="text-align: center">CUSTOMER</th>
                                <th style="text-align: center">CLIENT</th>
                                <th style="text-align: center"></th>
                                <th style="text-align: center">QTY</th>
                                <th style="text-align: center">ORIGIN</th>
                                <th style="text-align: center">BILLING</th>
                                <th style="text-align: center">ADD'L</th>
                                <th style="text-align: center">REMARKS</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for item in list %}
                                    <tr>
                                        <td style="text-align: center">{{ item.date|date:"d-M-y" }}</td>
                                        <td style="text-align: center">{{ item.plateno }}</td>
                                        <td style="text-align: center">{{ item.wbno }}</td>
                                        <td style="text-align: center">{{ item.customer.customername }}</td>
                                        <td style="text-align: center">{{ item.client.clientname }}</td>
                                        <td style="text-align: center">{{ item.trucktype }}</td>
                                        <td style="text-align: center">{{ item.qty }}</td>
                                        <td style="text-align: center">{{ item.origin }}</td>
                                        <td style="text-align: right">{{ item.billing|floatformat:2|intcomma }}</td>
                                        {% if item.addl is None %}
                                            <td style="text-align: right">-</td>
                                        {% else %}
                                            <td style="text-align: right">{{ item.addl|default_if_none:"-"|floatformat:2|intcomma }}</td>
                                        {% endif %}
                                        <td style="text-align: center">{{ item.remarks }}</td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="7" style="border: 0"></td>
                                    <td style="text-align: center; border: 0">Subtotal:</td>
                                    <td style="text-align: right; border: 0"><u><b><i>{{ subtotal.billing__sum|floatformat:2|intcomma }}</i></b></u></td>
                                    {% if item.addl is None %}
                                        <td style="text-align: right; border: 0"><u><b><i>-</i></b></u></td>
                                    {% else %}
                                        <td style="text-align: right; border: 0"><u><b><i>{{ addltotal.addl__sum|default_if_none:"-"|floatformat:2|intcomma }}</i></b></u></td>
                                    {% endif %}
                                    <td style="border: 0"></td>
                                </tr>
                                <tr>
                                    <td colspan="7" style="border: 0"></td>
                                    <td style="text-align: center; border: 0">Grand Total:</td>
                                    <td style="text-align: right; border: 0"><u><b>{{ grandtotal|floatformat:2|intcomma }}</b></u></td>
                                    <td style="border: 0"></td>
                                    <td style="border: 0"></td>
                                </tr>
                            </tbody>
                          </table>
                      </div>

                  </div>
                    <!-- Modal -->
                    <div class="modal fade" id="generateStatementOfAccountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel">Generate Statement of Account</h5>
                          </div>
                          <div id="modalBody" class="modal-body">
                              <form method="post" enctype="multipart/form-data" action="{% url 'dbo_statement_of_account' %}">
                              {% csrf_token %}
                              <div class="login-wrap">
                          <div class="row">
                            <div class="col-md-6">
                                <label for="billingFromDate">Billing From Date</label>
                                 <div class="form-group">
                                  <div class="col-md-12">
                                      <input type="date" id="billingFromDate" name="billingFromDate" size="16" class="form-control">
                                  </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Billing To Date</label>
                                 <div class="form-group">
                                  <div class="col-md-12">
                                      <input type="date" id="billingToDate" name="billingToDate" size="16" class="form-control">
                                  </div>
                                </div>
                            </div>
                          </div>
                          <br>
                          <label for="client">Client</label>
                          <select name="client" class="form-control" id="client">
                                <option value="" selected="">----------</option>
                                  {% for client in clients %}
                                      <option value="{{ client.clientname }}">{{ client.clientname }}</option>
                                  {% endfor %}
                          </select>
                              <hr>
                          <label for="customer">Customer</label>
                          <select name="customer" class="form-control" id="customer">
                                <option value="" selected="">----------</option>
                                  {% for customer in customers %}
                                      <option value="{{ customer.customerid }}">{{ customer.customername }}</option>
                                  {% endfor %}
                          </select>
                              <br>
                          <div class="row">
                            <div class="col-md-6">
                                <label>Plate Number</label>
                                 <div class="form-group">
                                  <div class="col-md-12">
                                      <input type="text" id="plateNumber" name="plateNumber" size="16" class="form-control">
                                  </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Way Bill Number</label>
                                 <div class="form-group">
                                  <div class="col-md-12">
                                      <input type="text" id="wayBillNumber" name="wayBillNumber" size="16" class="form-control">
                                  </div>
                                </div>
                            </div>
                          </div>
                              <hr>
                              <center><button type="submit" class="btn btn-primary btn-block">Generate</button></center>
                          </div>

                              </form>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-round" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel">Modal title</h5>
                          </div>
                          <div id="modalBody" class="modal-body">
                            ...
                          </div>
                          <div class="modal-footer">
                            <a class="btn btn-round btn-success" id="modalEditButton" role="button">Edit</a>
                            <a class="btn btn-round btn-danger" id="modalDeleteButton" role="button">Delete</a>
{#                            <a class="btn btn-round btn-info" id="modalGenerateBillingButton" role="button" onclick="printDiv('printableArea')">Generate Statement Billing</a>#}
                            <button type="button" class="btn btn-round" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  <!-- /tab-pane -->
                </div>
                <!-- /tab-content -->
              </div>
              <!-- /panel-body -->
            </div>
            <!-- /col-lg-12 -->
          </div>
          <!-- /row -->
        </div>

          <!-- col-lg-12-->
        </div>
          </div>
          <!-- /col-lg-12 -->
          <!-- CUSTOM TOGGLES -->
        </div>
        <!-- /row -->
      </section>
      <!-- /wrapper -->
    </section>

    <script>
        let today = new Date();
        let time = '';
        let dd = today.getDate();
        let mm = today.getMonth() + 1; //January is 0!
        let yyyy = today.getFullYear();
        let hour    = today.getHours();
        let minute  = today.getMinutes();
        let second  = today.getSeconds();

        if (dd < 10) {
          dd = '0' + dd;
        }

        if (mm < 10) {
          mm = '0' + mm;
        }

        if(hour.toString().length == 1) {
         hour = '0'+hour;
        }
        if(minute.toString().length == 1) {
             minute = '0'+minute;
        }
        if(second.toString().length == 1) {
             second = '0'+second;
        }

        today = mm + '/' + dd + '/' + yyyy;
        time = hour+':'+minute+':'+second;
        $(document).ready(function() {
            $('#listTable').DataTable({
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                responsive: true,
                retrieve: true,
                paging: true,
                dom: 'Blfrtip',
                "scrollX": true,
                buttons: [
                    {
                        extend: 'copyHtml5',
                        title: 'Database Operations (exported: ' + today + ' ' + time + ')',
                        exportOptions: {
                            columns: ':visible',
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        title: 'Database Operations (exported: ' + today + ' ' + time + ')',
                        exportOptions: {
                            columns: ':visible',
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        title: 'Database Operations (exported: ' + today + ' ' + time + ')',
                        exportOptions: {
                            columns: ':visible',
                        }
                    },
                    'colvis'
                ]
            });
        });

        var table;

        if ( $.fn.dataTable.isDataTable( '#listTable' ) ) {
            table = $('#listTable').DataTable();
        }
        else {
            table = $('#listTable').DataTable({
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                responsive: true,
                retrieve: true,
                paging: true,
                dom: 'Blfrtip',
                "scrollX": true,
                buttons: [
                    {
                        extend: 'copyHtml5',
                        title: 'Database Operations (exported: ' + today + ' ' + time + ')',
                        exportOptions: {
                            columns: ':visible',
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        title: 'Database Operations (exported: ' + today + ' ' + time + ')',
                        exportOptions: {
                            columns: ':visible',
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        title: 'Database Operations (exported: ' + today + ' ' + time + ')',
                        exportOptions: {
                            columns: ':visible',
                        }
                    },
                    'colvis'
                ]
            });
        }

        $('#listTable tbody').on( 'click', 'tr', function () {
            // alert( table.row( this ).data() );
            var modalBody = "<table class=\"table table-bordered\">";
            for(var i = 2; i <= 32 ; i++){
                modalBody += "<tr>";
                modalBody += "<td><b>"+ table.columns(i).header()[0].textContent +"</b></td>";
                modalBody += "<td>" + table.row(this).data()[i] + "</td>";
                modalBody += "</tr>";
            }
            modalBody += "</table>";
            $('#modalBody').html(modalBody);
            $('#modalLabel').html("DATABASE OPERATION  " + table.row(this).data()[1]);
            $('#modalEditButton').attr('href', '/database_operations/editDBO/' + table.row(this).data()[1]+"/A");
            $('#modalDeleteButton').attr('href', '/database_operations/deleteDBO/' + table.row(this).data()[1]);
            $('#exampleModal').modal();
        } );

        // Convert numbers to words
        // copyright 25th July 2006, by Stephen Chapman http://javascript.about.com
        // permission to use this Javascript on your web page is granted
        // provided that all of the code (including this copyright notice) is
        // used exactly as shown (you can change the numbering system if you wish)


        // American Numbering System
        var th = ['','THOUSAND','MILLION', 'BILLION','TRILLION'];
        // uncomment this line for English Number System
        // var th = ['','thousand','million', 'milliard','billion'];

        var dg = ['ZERO','ONE','TWO','THREE','FOUR', 'FIVE','SIX','SEVEN','EIGHT','NINE'];
        var tn = ['TEN','ELEVEN','TWELVE','THIRTEEN', 'FOURTEEN','FIFTEEN','SIXTEEN', 'SEVENTEEN','EIGHTEEN','NINETEEN'];
        var tw = ['TWENTY','THIRTY','FORTY','FIFTY', 'SIXTY','SEVENTY','EIGHTY','NINETY'];
        function toWords(s){
            s = s.toString(); s = s.replace(/[, ]/g,'');
            if (s != parseFloat(s)) return 'not a number';
            var x = s.indexOf('.');
            if (x == -1)
                x = s.length;
            if (x > 15)
                return 'too big';
            var n = s.split('');
            var str = '';
            var sk = 0;
            for (var i=0; i < x; i++) {
                if ((x-i)%3==2) {
                    if (n[i] == '1') {
                        str += tn[Number(n[i+1])] + ' ';
                        i++; sk=1;
                    }
                    else if (n[i]!=0) {
                        str += tw[n[i]-2] + ' ';
                        sk=1;
                    }
                }
                else if (n[i]!=0) {
                    str += dg[n[i]] +' ';
                    if ((x-i)%3==0)
                        str += 'HUNDRED ';
                    sk=1;
                }
                if ((x-i)%3==1) {
                    if (sk)
                        str += th[(x-i-1)/3] + ' ';
                    sk=0;
                }
            }
            if (x != s.length) {
                var y = s.length;
                str += 'AND ';
                for (var i=x+1; i<y; i++)
                    str += dg[n[i]] +' ';
            }
            return str.replace(/\s+/g,' ');
        }

        function numberWithCommas(x) {
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            return parts.join(".");
        }

        function addZeroes(num) {
            // Convert input string to a number and store as a variable.
            var value = Number(num);
            // Split the input string into two arrays containing integers/decimals
            var res = num.split(".");
            // If there is no decimal point or only one decimal place found.
            if(res.length == 1 || res[1].length < 3) {
            // Set the number to two decimal places
                value = value.toFixed(2);
            }
            // Return updated or original number.
            return value;
        }


        function printDiv(divName) {
            var dboIDs = [
                {% for item in list %}
                    {{ item.id }},
                {% endfor %}
            ];

            $.ajax({
              url: '{% url "update_billing_dates" %}',
              data: {
                "dboIDs[]": dboIDs,
              },
              dataType: 'json',
              success: function(data){
                  console.log(dboIDs);
              },
              error: function () {
                alert("error");
              },
            });

            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
        }

        $(document).ready(function(){
           $("#id_year").val({{ year }});
           $("#id_month").val({{ month }});
        });
        

        $( "#id_year" ).change(function() {
            window.location.href = "/database_operations//year="  + $(this).val() + "/month=" + $("#id_month").val();
        });

        $( "#id_month" ).change(function() {
            window.location.href = "/database_operations/year="  + $("#id_year").val() + "/month=" + $(this).val();
        });

    </script>
{% endblock %}