{% extends "includes/headerFooter.html" %}
{% load staticfiles %}
{% load humanize %}

{% block content %}
    <title>Summary of Payroll</title>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_code.jquery.com_jquery-3.3.1.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdn.datatables.net_1.10.19_js_jquery.dataTables.js' %}"></script>

    <style>
        div.dataTables_wrapper {
            margin: 0 auto;
        }
    </style>


    <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}"/>
    <script type="text/javascript" src="{% static 'js/http_cdn.datatables.net_v_dt_dt-1.10.18_b-1.5.4_datatables.js' %}"></script>
    <script src="{% static 'js/city.js' %}"></script>

    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdn.datatables.net_buttons_1.5.2_js_dataTables.buttons.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdn.datatables.net_buttons_1.5.2_js_buttons.flash.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdnjs.cloudflare.com_ajax_libs_jszip_3.1.3_jszip.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdnjs.cloudflare.com_ajax_libs_pdfmake_0.1.36_pdfmake.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdnjs.cloudflare.com_ajax_libs_pdfmake_0.1.36_vfs_fonts.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdn.datatables.net_buttons_1.5.2_js_buttons.html5.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdn.datatables.net_buttons_1.5.2_js_buttons.print.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdn.datatables.net_buttons_1.5.2_js_buttons.colVis.js' %}"></script>


    <section id="main-content">
      <section class="wrapper site-min-height">
        <div class="row">
          <!-- /col-lg-12 -->
          <div class="col-lg-12">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'database_operations' %}">Database Operations</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Generate Summary of Payroll</li>
              </ol>
          </nav>
            <div class="row content-panel">
              <!-- /panel-heading -->
              <div class="panel-body">
                <div class="tab-content">
                {% if messages %}
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        {% for message in messages %}
                            <strong>{{ message }}</strong>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if extra != none %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <strong>{{ extra }}</strong>
                </div>
                {% endif %}
                  <div id="overview" class="tab-pane active">
                      <a class="btn btn-primary" href="{% url 'database_operations' %}" role="button">Back</a>
                      <h2 class="centered">Summary of Payroll</h2>
                      <hr>
                      <h5>From date: <b><span id="fromDate">{{ payrollFromDate }}</span></b></h5>
                      <h5>To date: <b><span id="toDate">{{ payrollToDate }}</span></b></h5>
{#                      <a class="btn btn-default" role="button" onclick="printDiv('printDiv')">Print</a>#}
                      <hr>
                      <a class="btn btn-default" onClick="fnExcelReport();" id="exportButton">EXPORT</a>
                      <hr>
                      <div id="printDiv">
                          <table id="payrollTable" class="table table-condensed table-bordered">
                          {% for report_data in report_data_summary %}

                                  <tbody>
                                  <tr>
                                        <th bgcolor="#ffff00" style="text-align: center">DATE</th>
                                        <th bgcolor="#ffff00" style="text-align: center">PLATE NO.</th>
                                        <th bgcolor="#ffff00" style="text-align: center">WAYBILL NO.</th>
                                        <th bgcolor="#ffff00" style="text-align: center">ORIGIN/DEST</th>
                                        <th bgcolor="#ffff00" style="text-align: center">CUSTOMER</th>
                                        <th bgcolor="#ffff00" style="text-align: center">CLIENT</th>
                                        <th bgcolor="#ffff00" style="text-align: center">C/A</th>
                                        <th bgcolor="#ffff00" style="text-align: center">LIQ</th>
                                        <th bgcolor="#ffff00" style="text-align: center">UNLIQ.</th>
                                        <th bgcolor="#ffff00" style="text-align: center">SALARY</th>
                                        <th bgcolor="#ffff00" style="text-align: center">ADD'L</th>
                                    </tr>
                                    {% for detail in report_data.details %}
                                    <tr>
                                        <td style="text-align: center">{{ detail.date|date:"d-M-y" }}</td>
                                        <td style="text-align: center">{{ detail.plateno }}</td>
                                        <td style="text-align: center">{{ detail.wbno }}</td>
                                        <td style="text-align: center">{{ detail.origin }}</td>
                                        <td style="text-align: center">{{ detail.customer }}</td>
                                        <td style="text-align: center">{{ detail.client }}</td>
                                        {% if detail.ca is None %}
                                            <td style="text-align: right">-</td>
                                        {% else %}
                                            <td style="text-align: right">{{ detail.ca|default_if_none:"-"|floatformat:2|intcomma }}</td>
                                        {% endif %}
                                        {% if detail.liq is None %}
                                            <td style="text-align: right">-</td>
                                        {% else %}
                                            <td style="text-align: right">{{ detail.liq|default_if_none:"-"|floatformat:2|intcomma }}</td>
                                        {% endif %}
                                        {% if detail.unliq is None %}
                                            <td style="text-align: right">-</td>
                                        {% else %}
                                            <td style="text-align: right">{{ detail.unliq|default_if_none:"-"|floatformat:2|intcomma }}</td>
                                        {% endif %}
                                        {% if detail.salary is None %}
                                            <td style="text-align: right">-</td>
                                        {% else %}
                                            <td style="text-align: right">{{ detail.salary|default_if_none:"-"|floatformat:2|intcomma }}</td>
                                        {% endif %}
                                        {% if detail.addl is None %}
                                            <td style="text-align: right">-</td>
                                        {% else %}
                                            <td style="text-align: right">{{ detail.addl|default_if_none:"-"|floatformat:2|intcomma }}</td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="6"><b>{{ report_data.name }}</b></td>
                                        {% if report_data.caTotal is None %}
                                            <td style="text-align: right"><b><u>-</u></b></td>
                                        {% else %}
                                            <td style="text-align: right"><b><u>{{ report_data.caTotal|default_if_none:"-"|floatformat:2|intcomma }}</u></b></td>
                                        {% endif %}
                                        {% if report_data.liqTotal is None %}
                                            <td style="text-align: right"><b><u>-</u></b></td>
                                        {% else %}
                                            <td style="text-align: right"><b><u>{{ report_data.liqTotal|default_if_none:"-"|floatformat:2|intcomma }}</u></b></td>
                                        {% endif %}
                                        {% if report_data.unliqTotal is None %}
                                            <td style="text-align: right"><b><u>-</u></b></td>
                                        {% else %}
                                            <td style="text-align: right"><b><u>{{ report_data.unliqTotal|default_if_none:"-"|floatformat:2|intcomma }}</u></b></td>
                                        {% endif %}
                                        {% if report_data.salaryTotal is None %}
                                            <td style="text-align: right"><b><u>-</u></b></td>
                                        {% else %}
                                            <td style="text-align: right"><b><u>{{ report_data.salaryTotal|default_if_none:"-"|floatformat:2|intcomma }}</u></b></td>
                                        {% endif %}
                                        {% if report_data.addlTotal is None %}
                                            <td style="text-align: right"><b><u>-</u></b></td>
                                        {% else %}
                                            <td style="text-align: right"><b><u>{{ report_data.addlTotal|default_if_none:"-"|floatformat:2|intcomma }}</u></b></td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td colspan="10"></td>
                                        <td style="text-align: right"><b><u>{{ report_data.pay|default_if_none:"-"|floatformat:2|intcomma }}</u></b></td>
                                    </tr>
                                  <tr>
                                      <td colspan="11"></td>
                                  </tr>
                                  </tbody>

                          {% endfor %}
                          </table>
                      </div>

                  </div>
                    <!-- Modal -->
                <!-- /tab-content -->
              </div>
              <!-- /panel-body -->
            </div>
            <!-- /col-lg-12 -->
          </div>
          <!-- /row -->
        </div>

          <!-- col-lg-12-->
        </div>
          </div>
          <!-- /col-lg-12 -->
          <!-- CUSTOM TOGGLES -->
        </div>
        <!-- /row -->
      </section>
      <!-- /wrapper -->
    </section>

    <script>
        let today = new Date();
        let time = '';
        let dd = today.getDate();
        let mm = today.getMonth() + 1; //January is 0!
        let yyyy = today.getFullYear();
        let hour    = today.getHours();
        let minute  = today.getMinutes();
        let second  = today.getSeconds();

        if (dd < 10) {
          dd = '0' + dd;
        }

        if (mm < 10) {
          mm = '0' + mm;
        }

        if(hour.toString().length == 1) {
         hour = '0'+hour;
        }
        if(minute.toString().length == 1) {
             minute = '0'+minute;
        }
        if(second.toString().length == 1) {
             second = '0'+second;
        }

        today = mm + '/' + dd + '/' + yyyy;
        time = hour+':'+minute+':'+second;
        $(document).ready(function() {
            $('#listTable').DataTable({
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                responsive: true,
                retrieve: true,
                paging: true,
                dom: 'Blfrtip',
                "scrollX": true,
                buttons: [
                    {
                        extend: 'copyHtml5',
                        title: 'Database Operations (exported: ' + today + ' ' + time + ')',
                        exportOptions: {
                            columns: ':visible',
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        title: 'Database Operations (exported: ' + today + ' ' + time + ')',
                        exportOptions: {
                            columns: ':visible',
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        title: 'Database Operations (exported: ' + today + ' ' + time + ')',
                        exportOptions: {
                            columns: ':visible',
                        }
                    },
                    'colvis'
                ]
            });
        });

        var table;

        if ( $.fn.dataTable.isDataTable( '#listTable' ) ) {
            table = $('#listTable').DataTable();
        }
        else {
            table = $('#listTable').DataTable({
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                responsive: true,
                retrieve: true,
                paging: true,
                dom: 'Blfrtip',
                "scrollX": true,
                buttons: [
                    {
                        extend: 'copyHtml5',
                        title: 'Database Operations (exported: ' + today + ' ' + time + ')',
                        exportOptions: {
                            columns: ':visible',
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        title: 'Database Operations (exported: ' + today + ' ' + time + ')',
                        exportOptions: {
                            columns: ':visible',
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        title: 'Database Operations (exported: ' + today + ' ' + time + ')',
                        exportOptions: {
                            columns: ':visible',
                        }
                    },
                    'colvis'
                ]
            });
        }

        $('#listTable tbody').on( 'click', 'tr', function () {
            // alert( table.row( this ).data() );
            var modalBody = "<table class=\"table table-bordered\">";
            for(var i = 2; i <= 32 ; i++){
                modalBody += "<tr>";
                modalBody += "<td><b>"+ table.columns(i).header()[0].textContent +"</b></td>";
                modalBody += "<td>" + table.row(this).data()[i] + "</td>";
                modalBody += "</tr>";
            }
            modalBody += "</table>";
            $('#modalBody').html(modalBody);
            $('#modalLabel').html("DATABASE OPERATION  " + table.row(this).data()[1]);
            $('#modalEditButton').attr('href', '/database_operations/editDBO/' + table.row(this).data()[1]+"/A");
            $('#modalDeleteButton').attr('href', '/database_operations/deleteDBO/' + table.row(this).data()[1]);
            $('#exampleModal').modal();
        } );

        // Convert numbers to words
        // copyright 25th July 2006, by Stephen Chapman http://javascript.about.com
        // permission to use this Javascript on your web page is granted
        // provided that all of the code (including this copyright notice) is
        // used exactly as shown (you can change the numbering system if you wish)


        // American Numbering System
        var th = ['','THOUSAND','MILLION', 'BILLION','TRILLION'];
        // uncomment this line for English Number System
        // var th = ['','thousand','million', 'milliard','billion'];

        var dg = ['ZERO','ONE','TWO','THREE','FOUR', 'FIVE','SIX','SEVEN','EIGHT','NINE'];
        var tn = ['TEN','ELEVEN','TWELVE','THIRTEEN', 'FOURTEEN','FIFTEEN','SIXTEEN', 'SEVENTEEN','EIGHTEEN','NINETEEN'];
        var tw = ['TWENTY','THIRTY','FORTY','FIFTY', 'SIXTY','SEVENTY','EIGHTY','NINETY'];
        function toWords(s){
            s = s.toString(); s = s.replace(/[, ]/g,'');
            if (s != parseFloat(s)) return 'not a number';
            var x = s.indexOf('.');
            if (x == -1)
                x = s.length;
            if (x > 15)
                return 'too big';
            var n = s.split('');
            var str = '';
            var sk = 0;
            for (var i=0; i < x; i++) {
                if ((x-i)%3==2) {
                    if (n[i] == '1') {
                        str += tn[Number(n[i+1])] + ' ';
                        i++; sk=1;
                    }
                    else if (n[i]!=0) {
                        str += tw[n[i]-2] + ' ';
                        sk=1;
                    }
                }
                else if (n[i]!=0) {
                    str += dg[n[i]] +' ';
                    if ((x-i)%3==0)
                        str += 'HUNDRED ';
                    sk=1;
                }
                if ((x-i)%3==1) {
                    if (sk)
                        str += th[(x-i-1)/3] + ' ';
                    sk=0;
                }
            }
            if (x != s.length) {
                var y = s.length;
                str += 'AND ';
                for (var i=x+1; i<y; i++)
                    str += dg[n[i]] +' ';
            }
            return str.replace(/\s+/g,' ');
        }

        function numberWithCommas(x) {
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            return parts.join(".");
        }

        function addZeroes(num) {
            // Convert input string to a number and store as a variable.
            var value = Number(num);
            // Split the input string into two arrays containing integers/decimals
            var res = num.split(".");
            // If there is no decimal point or only one decimal place found.
            if(res.length == 1 || res[1].length < 3) {
            // Set the number to two decimal places
                value = value.toFixed(2);
            }
            // Return updated or original number.
            return value;
        }


        function printDiv(divName) {
            var dboIDs = [
                {% for item in list %}
                    {{ item.id }},
                {% endfor %}
            ];

            $.ajax({
              url: '{% url "update_billing_dates" %}',
              data: {
                "dboIDs[]": dboIDs,
              },
              dataType: 'json',
              success: function(data){
                  console.log(dboIDs);
              },
              error: function () {
                alert("error");
              },
            });

            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
        }

        $(document).ready(function(){
           $("#id_year").val({{ year }});
           $("#id_month").val({{ month }});
        });
        

        $( "#id_year" ).change(function() {
            window.location.href = "/database_operations//year="  + $(this).val() + "/month=" + $("#id_month").val();
        });

        $( "#id_month" ).change(function() {
            window.location.href = "/database_operations/year="  + $("#id_year").val() + "/month=" + $(this).val();
        });

        function fnExcelReport() {
            var tab_text = '<html xmlns:x="urn:schemas-microsoft-com:office:excel">';
            tab_text = tab_text + '<head><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet>';

            tab_text = tab_text + '<x:Name>{{ payrollFromDate }} - {{ payrollToDate }}</x:Name>';

            tab_text = tab_text + '<x:WorksheetOptions><x:Panes></x:Panes></x:WorksheetOptions></x:ExcelWorksheet>';
            tab_text = tab_text + '</x:ExcelWorksheets></x:ExcelWorkbook></xml></head><body>';

            tab_text = tab_text + "<table border='1px'>";
            tab_text = tab_text + $('#payrollTable').html();
            tab_text = tab_text + '</table></body></html>';

            var data_type = 'data:application/vnd.ms-excel';

            var ua = window.navigator.userAgent;
            var msie = ua.indexOf("MSIE ");

            if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) {
                if (window.navigator.msSaveBlob) {
                    var blob = new Blob([tab_text], {
                        type: "application/csv;charset=utf-8;"
                    });
                    navigator.msSaveBlob(blob, 'SUMMARY OF PAYROLL FOR EACH DRIVER AND HELPER ({{ payrollFromDate }} - {{ payrollToDate }}).xls');
                }
            } else {
                $('#exportButton').attr('href', data_type + ', ' + encodeURIComponent(tab_text));
                $('#exportButton').attr('download', 'SUMMARY OF PAYROLL FOR EACH DRIVER AND HELPER({{ payrollFromDate }} - {{ payrollToDate }}).xls');
            }

        }


    </script>
{% endblock %}