{% extends "includes/headerFooter.html" %}
{% load staticfiles%}

{% block content %}
    <title>Home</title>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_code.jquery.com_jquery-3.3.1.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdn.datatables.net_1.10.19_js_jquery.dataTables.js' %}"></script>

    <style>
        div.dataTables_wrapper {
            margin: 0 auto;
        }
    </style>

    <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/buttons.dataTables.min.css' %}"/>
    <script type="text/javascript" src="{% static 'js/http_cdn.datatables.net_v_dt_dt-1.10.18_b-1.5.4_datatables.js' %}"></script>

    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdn.datatables.net_buttons_1.5.2_js_dataTables.buttons.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdn.datatables.net_buttons_1.5.2_js_buttons.flash.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdnjs.cloudflare.com_ajax_libs_jszip_3.1.3_jszip.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdnjs.cloudflare.com_ajax_libs_pdfmake_0.1.36_pdfmake.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdnjs.cloudflare.com_ajax_libs_pdfmake_0.1.36_vfs_fonts.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdn.datatables.net_buttons_1.5.2_js_buttons.html5.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdn.datatables.net_buttons_1.5.2_js_buttons.print.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdn.datatables.net_buttons_1.5.2_js_buttons.colVis.js' %}"></script>




    <section id="main-content">
      <section class="wrapper site-min-height">

      </section>
      <!-- /wrapper -->
    </section>
    <script>
        let today = new Date();
        let time = '';
        let dd = today.getDate();
        let mm = today.getMonth() + 1; //January is 0!
        let yyyy = today.getFullYear();
        let hour    = today.getHours();
        let minute  = today.getMinutes();
        let second  = today.getSeconds();

        if (dd < 10) {
          dd = '0' + dd;
        }

        if (mm < 10) {
          mm = '0' + mm;
        }

        if(hour.toString().length == 1) {
         hour = '0'+hour;
        }
        if(minute.toString().length == 1) {
             minute = '0'+minute;
        }
        if(second.toString().length == 1) {
             second = '0'+second;
        }

        today = mm + '/' + dd + '/' + yyyy;
        time = hour+':'+minute+':'+second;
        $(document).ready(function() {
            $('#listTable').DataTable({
                responsive: true,
                retrieve: true,
                paging: false,
                dom: 'Bfrtip',
                "scrollX": true,
                buttons: [
                    {
                        extend: 'copyHtml5',
                        title: 'Database Operations (exported: ' + today + ' ' + time + ')',
                        exportOptions: {
                            columns: ':visible',
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        title: 'Database Operations (exported: ' + today + ' ' + time + ')',
                        exportOptions: {
                            columns: ':visible',
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        title: 'Database Operations (exported: ' + today + ' ' + time + ')',
                        exportOptions: {
                            columns: ':visible',
                        }
                    },
                    'colvis'
                ]
            });
        });

        var table;

        if ( $.fn.dataTable.isDataTable( '#listTable' ) ) {
            table = $('#listTable').DataTable();
        }
        else {
            table = $('#listTable').DataTable({
                responsive: true,
                retrieve: true,
                paging: false,
                dom: 'Bfrtip',
                "scrollX": true,
                buttons: [
                    {
                        extend: 'copyHtml5',
                        title: 'Database Operations (exported: ' + today + ' ' + time + ')',
                        exportOptions: {
                            columns: ':visible',
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        title: 'Database Operations (exported: ' + today + ' ' + time + ')',
                        exportOptions: {
                            columns: ':visible',
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        title: 'Database Operations (exported: ' + today + ' ' + time + ')',
                        exportOptions: {
                            columns: ':visible',
                        }
                    },
                    'colvis'
                ]
            });
        }

        $('#listTable tbody').on( 'click', 'tr', function () {
            // alert( table.row( this ).data() );
            var modalBody = "<table class=\"table table-bordered\">";
            for(var i = 2; i <= 27 ; i++){
                modalBody += "<tr>";
                modalBody += "<td><b>"+ table.columns(i).header()[0].textContent +"</b></td>";
                modalBody += "<td>" + table.row(this).data()[i] + "</td>";
                modalBody += "</tr>";
            }
            modalBody += "</table>";
            $('#modalBody').html(modalBody);
            $('#modalLabel').html("DATABASE OPERATION  " + table.row(this).data()[1]);
            $('#modalEditButton').attr('href', '/database_operations/editDBO/' + table.row(this).data()[1]);
            $('#modalDeleteButton').attr('href', '/database_operations/deleteDBO/' + table.row(this).data()[1]);
            $('#exampleModal').modal();
        } );
    </script>
{% endblock %}