
{% extends "includes/headerFooter.html" %}
{% load staticfiles%}

{% block content %}
    <title>Users</title>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_code.jquery.com_jquery-3.3.1.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdn.datatables.net_1.10.19_js_jquery.dataTables.js' %}"></script>

    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdn.datatables.net_buttons_1.5.2_js_dataTables.buttons.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdn.datatables.net_buttons_1.5.2_js_dataTables.buttons.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdn.datatables.net_buttons_1.5.2_js_buttons.flash.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdnjs.cloudflare.com_ajax_libs_jszip_3.1.3_jszip.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdnjs.cloudflare.com_ajax_libs_pdfmake_0.1.36_pdfmake.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdnjs.cloudflare.com_ajax_libs_pdfmake_0.1.36_vfs_fonts.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdn.datatables.net_buttons_1.5.2_js_buttons.html5.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/http_cdn.datatables.net_buttons_1.5.2_js_buttons.print.js' %}"></script>
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
        <!-- BASIC FORM ELELEMNTS -->
        <section id="main-content">
      <section class="wrapper site-min-height">
        <div class="row mt">
        
          <!-- /col-lg-12 -->
          <div class="col-lg-12 mt">
            <div class="row content-panel">
              <div class="panel-heading">
                <ul class="nav nav-tabs nav-justified">
                  <li class="active">
                    <a data-toggle="tab" href="#overview">Users</a>
                  </li>
                  
                  <li>
                    <a data-toggle="tab" href="#edit">Create New Users</a>
                  </li>
                </ul>
              </div>
              <!-- /panel-heading -->
              <div class="panel-body">
                <div class="tab-content">
                  <div id="overview" class="tab-pane active">
                      <table id="usersTable" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Role</th>
                                    <th>Employee ID</th>
                                    <th>Phone Number</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for user in users_list %}
                             <tr>
                                <td>{{ user.name }}</td>
                                 <td>{{ user.role }}</td>
                                 <td>{{ user.employeeid }}</td>
                                 <td>{{ user.phonenumber }}</td>
                             </tr>
                            {% endfor %}
                            </tbody>
                      </table>
                  </div>
                  <!-- /tab-pane -->
                  
                  <!-- /tab-pane -->
                  <div id="edit" class="tab-pane">
                    <div class="row">
                      <div class="col-lg-8 col-lg-offset-2 detailed">
                        <h4 class="mb">User Information</h4>
                        <form action="{% url 'users' %}" class="form-horizontal" method="post">
                          {% csrf_token %}
                          {{ form.userid }}

                          {% for field in form %}
                              {% if field.label != 'Userid' %}
                                  <div class="form-group">
                                    <label class="col-lg-2 control-label">{{ field.label_tag }}</label>
                                    <div class="col-lg-12">
                                      {{ field }}
                                    </div>
                                  </div>
                              {% endif %}
                          {% endfor %}
                          <button type="submit" value="Submit" class="btn btn-primary center-block">Submit</button>
                        </form>
                      </div>
                      
                      <!-- /col-lg-8 -->
                    </div>
                    <!-- /row -->
                  </div>
                  <!-- /tab-pane -->
                </div>
                <!-- /tab-content -->
              </div>
              <!-- /panel-body -->
            </div>
            <!-- /col-lg-12 -->
          </div>
          <!-- /row -->
        </div>
    
          <!-- col-lg-12-->
        </div>
          </div>
          <!-- /col-lg-12 -->
          <!-- CUSTOM TOGGLES -->
        </div>
        <!-- /row -->
      </section>
      <!-- /wrapper -->
    </section>
    <script>
        $(document).ready(function() {
            $('#usersTable').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'excel', 'pdf', 'print'
        ]
    });
        });
    </script>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
{% endblock %}
